<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading" style="text-align: center;">
					<b>Add Module</b>
				</div>
				<div class="panel-body">
					<form ng-submit="addModule(title)">
						<div class="form-group">
							  <input type="text" ng-model="title" placeholder="title" class="form-control" required>
            				 </div>
           					
						<input type="submit" value="Submit" class="btn btn-md btn-success">
					</form>
				</div>			
			</div>
		</div>
	</div>
</div>